@font-face {
    font-family: Pretty;
    src: url(font.ttf);
}

body{
    text-align: center;
    font-family: Pretty;
    color: whitesmoke;
}

.background{
    z-index: -10;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    --s: 150px; /* control the size */
  
  background:
    linear-gradient(135deg,#0000 18.75%,#5E412F 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#5E412F -6.25% 6.25%,#947e3c 0 18.75%);
  background-size: var(--s) var(--s); 
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

button{
    font-family: Pretty;
    width: 250px;
    font-size: 25px;
}

.button-19 {
    position: absolute;
    bottom: 50px;
    left: 0px;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

#heart {
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  height: 90px;
  scale: 300%;
  z-index: -11;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: rgba(255, 0, 0, 255);
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}